<ol>
	<li> 
		user email: <%= @user.email %>
		<%= link_to 'Follow', user_relationships_path(@user), method: :post, class: 'btn btn-danger' unless @rel.present? %>
		<%= link_to 'Unfollow', relationship_path(@rel.id), method: :delete, class: 'btn btn-danger' if @rel.present? %>
	</li> 
</ol>